@using System.Linq
@model Website.Models.ItemsListViewModel
@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<div class="pull-right">@Html.ActionLink("Next", "Index", new { page = Model.CurrentPage + 1 })</div>
<div>@Html.ActionLink("Prev", "Index", new {page = Model.CurrentPage - 1})</div>
<table class="table items-table">
    <thead>
        <tr>
            <th class="col-xs-3">Name</th>
            <th class="col-xs-9">Affixes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemViewModel)
        {
            <tr>
                <td class="col-xs-3">@item.Name</td>
                <td class="col-xs-9">
                    @foreach (var affix in item.Affixes)
                    {
                        <div class="@affix.Style">@affix</div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>